<div class="welcome">
    <h1>Welcome to your new <br/>
        <span class='rails'>Rails</span> 
        <span class='react'>React</span> 
        App
    </h1>
    <div class="container">
        <img src="https://pbs.twimg.com/media/CZGHPChUAAA3jqE.png"  width=200/>                    
        <img src="https://res.cloudinary.com/codier/image/upload/v1530614273/jqxbwxmnrkjq0mxhnvjn.png" width=200/>
    </div>
</div>